<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- HTTP Method/Verb: GET, POST, PUT, DELETE... -->

    <!-- hx-swap: innerHTML, outerHTML, beforebegin(before div), afterend(after div), afterbegin(first child), beforeend(last child) -->

    <!--
        hx-trigger: click, dblclick, mouseenter, mouseleave, mouseover....input, keyup, keypress
        htmx: every 3s (setInterval), revealed
    -->
    <div>
        <button hx-trigger="click[ctrlKey] once delay:300ms from:div" hx-get="data.html" hx-target="#data" hx-swap="afterbegin swap:300ms">Load data!</button>
    </div>
    <div id="data" style="height: 1000px; border: 1px solid black">
        place
    </div>

    <div style="padding: 10px; background-color: red" hx-trigger="revealed" hx-get="data.html" hx-target="#data" hx-swap="beforeend">Content</div>

    <!-- Install HTMX - CDN(cache) -->
    <script src="https://unpkg.com/htmx.org@2.0.8/dist/htmx.min.js"></script>
</body>
</html>